@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        *{
            box-sizing: border-box;
        }
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(255, 255, 255);
        }

        h1, h2, h3, h4, ul, a, p, .tooltip, button, input, .selector, textarea {
            margin: 0;
            padding: 0;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            font-weight: 700;
        }

        h2 {
            font-weight: 600;
        }

        h3, h4, p {
            font-weight: 500;
        }

        .navbar{
            height: 100vh;
            width: 90px;
            background-color: rgb(241, 241, 241);
            z-index: 10;

        }
        .navbarInner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding:20px;
            box-sizing: border-box;
            height: 100%;
        }
        .navbarInner .top{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .navbarInner .top .logo{
            width: 50px;
            aspect-ratio: 1/1;
            background-color: #3b3b3b;
            border-radius: 20px;
        }
        .navbarInner .logo{
            width: 100%;
            margin-bottom: 20px;
        }
        .navbarInner .links{
            display: flex;
            flex-direction: column;
            gap: 15px;

        }

        .navbarInner .links .link{
            padding: 22%;
            width: 50px;
            box-sizing: border-box;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: white;
            border-radius: 30px;
        }
        .navbarInner .links .link .icon{
            width: 100%;
        }
        .navbarInner .links .link.seleccionado{
            background-color: #3b3b3b;
        }
        .hidden{
            display: none;
        }

        .navbarInner .user{
            background-color: rgba(0, 0, 0, 0.06);
            
            padding: 5px;
            border-radius: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

        }    
        .navbarInner .user img{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 40px;
        }
        .navbarInner .user .logout{
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 40px;
            background-color: rgba(0, 0, 0, 0.06);
            display: flex;
            justify-content: center;
            align-items: center;
            }
        .navbarInner .user .logout svg{
            width: 28px;
        }


        .app{
            display: flex;
        }

        .dashboard{
            box-sizing: border-box;
            padding: 25px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            height: 100vh;
            overflow-x: auto;
        }

        .dashboard .tituloprinc{
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
        }
        h1{
            font-size: 36px;
            font-weight: 600;
            color: #3b3b3b;
        }

        .dashboard .tituloprinc .botones{
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;
        }
         button{
            border: none;
            background-color: rgba(0, 0, 0, 0.06);
            height: 50px;
            box-sizing: border-box;
            border-radius: 45px;
            padding-inline: 15px;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;  
        }
         button.descargar{
            background-color: #3b3b3b;
            color: white;
            stroke-width: 20px;
         }
        


        button svg{
            width:  20px;
            transition: .5s ease-in-out;

        }
        button.reiniciar:active svg{
            transform: rotate(180deg);
            transition: .5s ease-in-out;

        }
        button.reiniciar:hover svg{
            transform: rotate(-35deg);
            transition: .3s ease-out;
        }


        .selector{
            border: none;
            background-color: rgba(0, 0, 0, 0.06);
            height: 50px;
            box-sizing: border-box;
            border-radius: 45px;
            padding-inline: 15px;
            cursor: pointer;
            font-size: 18px;
        }

        .selector option{
            font-size: 18px;
            cursor: pointer;
            border: none;
            
        }

        .dashboard .grid{
            display: flex;
            gap: 10px;
            width: 100%;
            flex: 1;
            max-height: 650px;
        }
        .dashboard .grid .left{
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-width: 0px;
            flex: 1;
            height: 100%;
            border-radius: 45px;
            min-height: 560px;
        }
        .dashboard .grid .right{
            border-radius: 45px;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.06);
            width:28%;
            min-width: 380px;
            height: auto;
            box-sizing: border-box;
            padding-inline: 22px;
            padding-block: 20px;
            gap: 12px;

        }
        .dashboard .grid .right .tituloRight{
            font-size: 18px;
            font-weight: 300;
            color: #3b3b3b; 
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .dashboard .grid .right .tituloRight .cantFacturasNoa{
            font-size: 18px;
            font-weight: 600;
            color: #3b3b3b; 
            background-color: rgba(0, 0, 0, 0.08);
            width: 28px;
            height: 28px;
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .dashboard .grid .right .facturasNoa{
            display: flex;
            flex-direction: column;
            gap: 15px;

        }
        .dashboard .grid .right .facturasNoa .facturaNoa{
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.06);
            gap: 10px;
            border-radius: 50px;
            height: 42px;
            width: 100%;
        }
        .dashboard .grid .right .facturasNoa .boton{
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 100%;
            aspect-ratio: 1/1;
        }
        .dashboard .grid .right .facturasNoa .boton.abonado svg{
            stroke: #ffffff;
            width: 55%;
            stroke-width: 2.5px;
        }
        .dashboard .grid .right .facturasNoa .boton.masInfo svg{
            stroke: #3b3b3b;
            width: 55%;
            stroke-width: 2.5px;
        }

        .dashboard .grid .right .facturasNoa .boton.masInfo{
            background-color: rgba(0, 0, 0, 0.08);
            
        }
        .dashboard .grid .right .facturasNoa .boton.abonado{
            background-color: #3b3b3b;

        }
        .dashboard .grid .right .facturasNoa h3{
            color: rgba(0, 0, 0, 0.45);
            font-weight: 300;
            font-size: 18px;
        }
        .dashboard .grid .right .facturasNoa h2{
            font-weight: 600;
            font-size: 18px;   
        }
        .dashboard .grid .right .facturasNoa h2:first-of-type{
            color: #3b3b3b;
        }
        .dashboard .grid .right .facturasNoa h2:last-of-type{
            color: #EE3131;
            width: 100%;
        }

        .dashboard .grid .left .targetas{
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            height: auto;

        }
        .dashboard .grid .left .targetas .targeta{
            flex: 1;
            min-width: 250px;
            height: auto;
            box-sizing: border-box;
            border-radius: 45px;
            background-color: rgba(0, 0, 0, 0.06);
            padding-inline: 22px;
            padding-block: 20px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;

        }
        .dashboard .grid .left .targetas .targeta .linkerInner{
            width: 100%;
            position: relative;
        }

        .dashboard .grid .left .targetas .targeta .linkerInner .linker{
            width: 35px;
            aspect-ratio: 1/1;
            background-color: white;
            position: absolute;
            border-radius: 20px;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            box-sizing: border-box;
            cursor: pointer;
            transition: .3s ease-out ;

        }
        .dashboard .grid .left .targetas .targeta .linkerInner .linker:hover{
            transform: scale(1.1);
            transition: .3s ease-out ;
        }

        .dashboard .grid .left .targetas .targeta.egresos{
            background-color: #3b3b3b;
        }
        .dashboard .grid .left .targetas .targeta .abajo{
        }
        .dashboard .grid .left .targetas .targeta .titulo{
            font-size: 18px;
            font-weight: 200;
            color: white;

        }

        .dashboard .grid .left .targetas .targeta .numero{
            font-size: 46px;
            font-weight: 400;
            margin-bottom: -10px;
            color: white;
        }
        
        .dashboard .grid .left .targetas .targeta .subtitulo{
            font-size: 18px;
            font-weight: 300;
            color: white;
        }
        .dashboard .grid .left .targetas .targeta .subtitulo span{
            font-weight: 300;
            color: #3b3b3b;
            background-color: white;
            border-radius: 20px;
            padding: 0px 10px;
            font-size: 16px;

        }

        .dashboard .grid .left .targetas .targeta.ingresos .linkerInner .linker{
            background-color: #3b3b3b;
        }

        .dashboard .grid .left .targetas .targeta.ingresos.egresos{
            background-color: #ffffff;
        }
        .dashboard .grid .left .targetas .targeta.ingresos .abajo{
        }
        .dashboard .grid .left .targetas .targeta.ingresos .titulo{
            color: #3b3b3b;

        }

        .dashboard .grid .left .targetas .targeta.ingresos .numero{
            color: #3b3b3b;
        }
        
        .dashboard .grid .left .targetas .targeta.ingresos .subtitulo{
            color: #3b3b3b;
        }
        .dashboard .grid .left .targetas .targeta.ingresos .subtitulo span{
            color: #ffffff;
            background-color: #3b3b3b;

        }

        @media (max-width: 1040px) {
            .dashboard .grid {
               display: flex;
               flex-direction: column;
            max-height: none;

             }
             .dashboard .grid .right{
                width: 100%;
                min-width: none;
                min-width: 250px;

             }
           }
           @media (max-width: 425px) {
            .dashboard .grid .left .targetas{
               display: flex;
               flex-direction: column;
             }
             .dashboard .grid .left .targetas .targeta{
                width: 100%;
              }
            .dashboard .grid .right .facturasNoa .boton{
                display: none;
            }
            .dashboard .grid .right .facturasNoa .facturaNoa{
                display: flex;
                justify-content: center;
            }
            .dashboard .grid .right .facturasNoa h2:last-of-type{
                width: auto;
            }
            .dashboard, .proveedores {
                padding: 10px;
                padding-bottom: 75px;
            }
              
           }


           
        .dashboard .grid .left .bottom{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            border-radius: 45px;
            background-color: rgba(0, 0, 0, 0.06);
            padding-block: 20px;
            padding-inline:24px;
        }      
        .dashboard .grid .left .bottom .top{
            display: flex;
        }
        .dashboard .grid .left .bottom h3{
            display: flex;
            flex-wrap: wrap;
            font-size: 24px;
            font-weight: 300;
            color: #3b3b3b;
            gap: 5px;
            box-sizing: border-box;
            align-items: end;
        }
        .dashboard .grid .left .bottom h3 span{
            font-weight: 400;
            color: #3b3b3b;
            font-size: 36px;
            margin-bottom: -5px;
        }
        .dashboard .grid .left .bottom .grafico{
            width: 100%;
            /* background-color: rgba(0, 0, 0, 0.06); */
            height: 100%;
            display: flex;
            gap: 20px;
            overflow-x: auto;
            align-items: end;
            padding-top: 10px;

            }

        .dashboard .grid .left .bottom .grafico .intervaloUnidad{
            width: 50px;
            height: 350px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            gap: 10px;
            scroll-snap-align: start;
        }
        .dashboard .grid .left .bottom .grafico .intervaloUnidad .velas{
            flex: 1;
            display: flex;
            padding-top: 10px;
            align-items: end;
            height: 100%;
            width: 100%;

        }
        .dashboard .grid .left .bottom .grafico .intervaloUnidad .velas .velaGanancia{
            flex: 1;
            display: flex;
            align-items: end;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.04);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .dashboard .grid .left .bottom .grafico .intervaloUnidad .velas .velaGanancia.seleccionado{
            background-color: #3b3b3b;
            border-top: 2px rgba(0, 0, 0, 0.2) dashed;
            border-inline: 2px rgba(0, 0, 0, 0.2) dashed;

        }


        .dashboard .grid .left .bottom .grafico .intervaloUnidad .velas .vela{
            width:50%;
            border-top-left-radius: 50px;            
            border-top-right-radius: 50px;            
        }
        .dashboard .grid .left .bottom .grafico .intervaloUnidad .velas .vela.velaIngresos{
            background-color: rgba(0, 0, 0, 0.06);
        }
        .dashboard .grid .left .bottom .grafico .intervaloUnidad .velas .vela.velaEgresos{
            background-color: #3b3b3b;

        }
        .dashboard .grid .left .bottom .grafico .intervaloUnidad h2{
            font-size: 20px;
            font-weight: 400;
        }
        
        .proveedores{
            display: flex;
            box-sizing: border-box;
            padding: 25px;
            gap: 10px;
            height: 100vh;
            overflow-x: auto;
            width: 100%;
            flex-wrap: wrap;
        }

        .proveedores .left{
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex: 1;
            height: 100%;

        }
        .proveedores .right{
            width: 380px;
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .proveedores .right .botones{
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 15px;

        }
        .proveedores .right .botones button{
            width: 100%;
            background-color: #F0F0F0;
        }

        .proveedores .right .dataProveedor{
           background-color: #F0F0F0; 
           border-radius: 45px;
           padding-block: 20px;
            width: 100%;
            flex: 1;
           position: relative;
        }
        .proveedores .right .dataProveedor h3.tituloData{
            font-size: 18px;
            font-weight: 300;
            color: #3b3b3b;
            padding-left: 24px;
        }
        .proveedores .right .dataProveedor h2.nombreProveedor{
            font-size: 28px;
            font-weight: 500;
            color: #3b3b3b;
            padding-left: 24px;
            height: auto;
            white-space:  nowrap;

            width: fit-content;
            margin-bottom: 10px;
        }
        .proveedores .right .dataProveedor .informacion{
            padding-left: 24px;
            width: 100%;
            padding-top: 12px;

        display: flex;
        flex-direction: column;

        }
        .proveedores .right .dataProveedor .informacion:nth-of-type(1){
            padding-bottom: 12px;
            background-color: rgba(0, 0, 0, 0.04);
        }
        
        .proveedores .right h2{
            font-size: 22px;
            font-weight: 500;
            color: #3b3b3b;
        }
        .proveedores .right .dataProveedor .informacion h3{
            font-size: 18px;
            font-weight: 300;
            color: #3b3b3b;
        }
        .proveedores .right .dataProveedor .informacion span{
            font-weight: 500;
        }


        /* modo edicion */

        .proveedores .right .dataProveedor input.nombreProveedor{
            font-size: 20px;
            font-weight: 500;
            color: #3b3b3b;
            margin-left: 24px;
            height: 32px;

            width:max-content;
            margin-bottom: 10px;
        }

        .proveedores .right .dataProveedor .informacion input{
            font-weight: 500;
            font-size: 14px;
            height: 22px;
            width: 70%;
        }

        input[type="text"]{
            border-radius: 25px;
            border: none;
            padding-left: 10px;
        }

        .proveedores input{
            margin-left: 10px;

        }

        .proveedores input::placeholder{
            color: #b9b9b9;
            font-weight: 400;
        }
        /* fin modo edicion */

        .proveedores .right .notaProveedor{
            background-color: #F0F0F0; 
            border-radius: 45px;
            padding-block-start: 20px;
            padding-bottom: 24px;
            padding-inline: 24px;
            position: relative;
            height: 100%;
            flex: 1;
            margin-top: 10px;
            display: flex;
            gap: 10px;
            flex-direction: column;
        }
        .proveedores .right .notaProveedor textarea{
            border: none;
            border-radius: 24px;
            width: 100%;
            resize: none;
            flex: 1;
            padding-block: 12px;
            padding-inline:14px;
            font-weight: 400;
            font-size: 16px;

        }
        .proveedores .left .listaProveedores{
            background-color: rgba(0, 0, 0, 0.06);
            padding-block: 20px;
            padding-inline: 24px;
            border-radius: 45px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            height: 100%;
        }
        .proveedores .left .listaProveedores .listado{
            overflow-y: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

        }
        .proveedores .left .listaProveedores .listado .proveedor{
            background-color: rgba(0, 0, 0, 0.06);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-block: 9px;
            padding-inline: 18px;
            flex: 1;
            min-width: 190px;
            max-width: 230px;
        }
        .proveedores .left .listaProveedores .listado .proveedor h2{
            font-size: 20px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #3b3b3b;
            max-width: 100%;

        }
        .proveedores .left .listaProveedores .listado .proveedor h3{
            font-size: 18px;
            font-weight: 300;
            color: #3b3b3b;

        }
        .proveedores .left .listaProveedores .listado .proveedor.selected{
            background-color: #3b3b3b;
            color: #ffffff;

        }
        .proveedores .left .listaProveedores .listado .proveedor.selected h2{
            color: #ffffff;

        }       .proveedores .left .listaProveedores .listado .proveedor.selected h3{
            color: #ffffff;

        }

        .proveedores .left .listaProveedores .top{
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
        }
        .proveedores .left .listaProveedores .top input{
            border: none;
            flex: 1;
            border-radius: 40px;
            padding-left:15px ;
            font-weight: 400;
            font-size: 16px;
            height: 50px;
        }
        .proveedores .left .listaProveedores .top button{
            width: 100%;
            width: 250px;
            color: #ffff;
            background-color: #3b3b3b;
        }

        .right.show {
            display: flex; /* Mostrar cuando es necesario */
          }
          .overlay {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              right: 0;
              bottom: 0;
              background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
              z-index: 999; /* Un nivel inferior al panel derecho */
              display: none; /* Ocultar por defecto */
          }
          .overlay.show {
              display: block;
            }
            @media (max-width: 585px) {
   
                .proveedores .left .listaProveedores .listado .proveedor{
                    background-color: rgba(0, 0, 0, 0.06);

                    max-width: 36.5vw;
                    min-width: 36.5vw;
                    border-radius: 4.62vw;
                }

                .proveedores .left .listaProveedores .listado{
                    flex-wrap: wrap;
    
                    } 
                .proveedores .left .listaProveedores .listado .proveedor h2{
                    font-size: 3.7vw;
                }
                .proveedores .left .listaProveedores .listado .proveedor h3{
                    font-size: 3.3vw;
        
                }
                .proveedores .left .listaProveedores .top button{
                    width: 100%;
                }
            }
          
          @media (max-width: 1023px) {
            .proveedores{
                gap: 20px;
            }
            .proveedores .right {
                width: 100%;
                height: 600px;
              }
          }
          


          @media (max-width: 1040px) {
            .dashboard .grid {
               display: flex;
               flex-direction: column;
            max-height: none;

             }
             .dashboard .grid .right{
                width: 100%;
                min-width: none;
                min-width: 250px;

             }
           }
           @media (max-width: 425px) {
            .dashboard .grid .left .targetas{
               display: flex;
               flex-direction: column;
             }
             .dashboard .grid .left .targetas .targeta{
                width: 100%;
              }
            .dashboard .grid .right .facturasNoa .boton{
                display: none;
            }
            .dashboard .grid .right .facturasNoa .facturaNoa{
                display: flex;
                justify-content: center;
            }
            .dashboard .grid .right .facturasNoa h2:last-of-type{
                width: auto;
            }

              
           }
          
           @media (max-width: 768px) {
            .dashboard{
                padding: 10px;
                padding-bottom: 75px;
            }
            .proveedores{
                padding: 10px;
                padding-bottom: 75px;
            }
            .navbar{
                width:100vw;
                height: 65px;
                background-color: rgb(241, 241, 241);
                position: fixed;
    
            }
            .navbarInner{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding:15px;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
            }
            .navbarInner .top{
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 20px;
            }
            .navbarInner .top .logo{
                width: 50px;
                aspect-ratio: 1/1;
                background-color: #3b3b3b;
                border-radius: 20px;
                display: none;
            }
            .navbarInner .logo{
                width: 100%;
                margin-bottom: 20px;
            }
            .navbarInner .links{
                display: flex;
                flex-direction: row;
                gap: 15px;
    
            }
            .navbarInner .user{
                background-color: rgba(0, 0, 0, 0.06);
                
                padding: 5px;
                border-radius: 50px;
                height: 100%;
                display: flex;
                flex-direction: row;
                gap: 5px;
                width: 50px;
    
            }    
            .navbarInner .user img{
            display: none;
            }
            .navbarInner .user .logout{
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 40px;
                background-color: rgba(0, 0, 0, 0.06);
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                }
            .navbarInner .user .logout svg{
                width: 22px;
            }
            .navbarInner .links .link{
                padding: 6.5%;
                width: 45px;
                box-sizing: border-box;
                height: 45px;
            }
            .app{
                flex-direction: column-reverse;
            }
        }

        .facturas{
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 25px;
            gap: 10px;
            height: 100vh;
            overflow-x: auto;
            width: 100%;
            /* flex-wrap: wrap; */

        }
        .facturas .bottom{
            width: 100%;
            background-color: rgba(0, 0, 0, 0.06);
            border-radius: 45px;
            padding: 18px;
            display: flex;
            flex-direction: column;
            gap: 15px;

        }

        .facturas .bottom .top{
            display: flex;
            gap: 10px;
        }

        
        .facturas .bottom .top input{
            flex: 1;
        }
        
        .facturas .bottom .top select{
            flex: 1;
            min-width: 215px;
        }
        .facturas .bottom .top button{
            width: fit-content;
        }
        .facturas .bottom .top button p.mas{
            display: none;
        }
        .facturas .bottom .top button p.texto{
            display: flex;
        }
        .facturas .bottom .listaFacturas{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .facturas .bottom .listaFacturas .factura{
            width: 100%;
            background-color: rgba(0, 0, 0, 0.04);
            padding-inline: 13px;
            padding-right: 30px;
            padding-block: 10px;
            border-radius: 15px;
            height: fit-content;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }


        .facturas .bottom .listaFacturas .factura .topFactura{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            gap: 10px;
        }

        .facturas .bottom .listaFacturas .factura .topFactura.selected{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items:start;

        }
        .facturas .bottom .listaFacturas .factura .topFactura .data{
            display: flex;
            gap: 10px;
        }
        .facturas .bottom .listaFacturas .factura .topFactura.selected h3{
            display: flex;
            flex-direction: column;
            gap:5px;
            background-color: transparent;
            padding: 0;
            margin-right: 10px;
        }

        .facturas .bottom .listaFacturas .factura .topFactura h3{
            font-size: 16px;
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: 15px;
            flex-wrap: wrap;
            padding-block:3px;
            padding-inline:8px;
            font-weight: 300;
        }

        .facturas .bottom .listaFacturas .factura .topFactura h3.datoAbonado span{
            background-color: #EE3131;
            font-size: 15px;
            padding-inline:8px;
            border-radius: 20px;
            color: #FFF;
            z-index:99999;
        }
        .facturas .bottom .listaFacturas .factura .topFactura h3.datoAbonado span.abonado{
            background-color: #60AE31;

        }
        .facturas .bottom .listaFacturas .factura .topFactura h3.vencimiento span.cercano{
            color: #EE3131;
        }


        .facturas .bottom .listaFacturas .factura .topFactura span{
            font-weight: 500;
        }

        .facturas .bottom .listaFacturas .factura .topFactura .estadoAbonado{
            border-radius: 25px;
            width: 13px;
            height: calc(100% - 26px);
            background-color: #EE3131;
            position: absolute;
            right: 10px;
        }
        .facturas .bottom .listaFacturas .factura .topFactura .estadoAbonado.abonado{
            background-color: #60AE31;

        }

        .facturas .bottom .listaFacturas .factura .topFactura h2{
            font-size: 20px;
            
        }

        .facturas .bottom .listaFacturas .factura .topFactura .buttons{
            display: flex; 
            position: absolute;
            gap: 10px; 
            height:26px;
            top: 13px;
            right: 10px;
        }
        .facturas .bottom .listaFacturas .factura .topFactura .buttons button{
            height:26px;

            font-size: 14px;

        }
        @media (max-width:1024px) {
            .facturas .bottom .top{
                flex-wrap: wrap;
            }
            .facturas .bottom .top input{
                min-width: 260px;
                height: 50px;
            }

            .facturas .bottom .top button{
            flex: 1;
            min-width: 220px;
            }

            .facturas .bottom .listaFacturas .factura .topFactura .data{
                padding-right: 35px;
            }

            .facturas .bottom .listaFacturas .factura .topFactura .data{
                flex-wrap: wrap;

            }
            .facturas .bottom .listaFacturas .factura .topFactura {
                flex-wrap: wrap;
            }
            .facturas .bottom .listaFacturas .factura .topFactura .estadoAbonado{
                width: 45px;
                height: 45px;
            }

        }  

        @media (max-width:425px) {
            .facturas .bottom .listaFacturas .factura .topFactura .data{
                padding-right: 0px;
                padding-bottom: 50px;
            }
            .facturas .bottom .top input{
                flex: 1;
                min-width: 100%;
            }
            .facturas .bottom .listaFacturas .factura .topFactura .estadoAbonado{
                width: calc(100% - 20px);
                height: 35px;
                bottom: 13px;
                border-radius: 12px;

            }
            .facturas .bottom .top button p.mas{
                display: flex;

            }
            .facturas .bottom .top button p.texto{
                display: none;

            }
            .facturas .bottom .top button{
                flex: 1;
                min-width: 50px;
                max-width: 50px;
                }
                .facturas .bottom .top select{
                 min-width: 0;
                }


        }

              .facturas .bottom .listaFacturas .factura .facturaItems{
            width: 100%;
            flex-direction: column;
            display: none;
            gap: 10px;
        }
        .facturas .bottom .listaFacturas .factura .facturaItems .item{
            width: 100%;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            border-radius: 16px;
            border: 1.9px solid #6d6d6d;
            gap: 10px;
            padding-inline: 10px;
        }
        .facturas .bottom .listaFacturas .factura .facturaItems h3{
            font-size: 16px;
            border-radius: 15px;
            padding-block:3px;
            padding-inline:8px;
            font-weight: 300;
            display: flex;
            flex-direction: column;
        }
        .facturas .bottom .listaFacturas .factura .facturaItems span{
            font-weight: 500;
        }
        .facturas .bottom .listaFacturas .factura .facturaItems h2{
            font-weight: 400;
            font-size: 18px;
        }

        .facturas .bottom .listaFacturas .factura .facturaItems.selected{
            display: flex;
        }